.color-picker .color-chooser-color {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 25px;
  width: 25px;
  cursor: pointer;
  box-sizing: border-box;
  border: solid 2px rgba(0, 0, 0, 0);
}
.color-picker .color-picker-editor {
  font-size: 14px;
  margin: 0;
  padding: 4px;
  border: 1px solid #ddd;
  border-left-width: 25px;
  background-color: rgba(0, 0, 0, 0);
  transition: border-color 0.2s ease-in;
  outline: none;
}
